body{
  background-color: black;
  display: flex;
  align-items:flex-start ;
  justify-content: center;
}

.buttons{
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  font-size: 2em;
  background-color: black;
  
}
.operator{
  background-color: rgb(255, 132, 0);
  
}
button{
  max-width: 25vw;
  color: white;
}
.buttons :first-child{
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-top: 3em;
  max-width: 100vw;
  padding-right: 0.7em;
  padding-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  
}
.hello{

  grid-column-start: 1;
  grid-column-end: 2;
}
